force-app/main/default/flows/sM_Contact_Create_Discarded_Record_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description
    >Check if a discarded record needs to be created</description>
        <name>Decision_Discarded_Records_FIXME</name>
        <label>Decision - Discarded Records - FIXME</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.scaleMatters__Contact_Discard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.scaleMatters__Contact_Discard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Discarded_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
  >Used to collect Contact record details that are being discarded. scaleMatters&apos; SellScience application uses the records to be updated within its database.</description>
    <interviewLabel
  >sM - Contact - Create Discarded Record - Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>sM - Contact - Create Discarded Record - Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creation of Discarded record</description>
        <name>Create_Discarded_Record</name>
        <label>Create Discarded Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Discarded_Business_Unit__c</field>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discarded_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discarded_Object__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discarded_SafeID__c</field>
            <value>
                <elementReference>$Record.Contact_SafeID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Discarded_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Discarded_Records_FIXME</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Discard__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Discard__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
