force-app/main/default/flows/sM_Event_People_Meeting_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description
    >Used to store values of data you&apos;d want to pass from the 3rd party tool</description>
        <name>Store_Booked_via_3rd_Party_Tool_Variables_FIXME</name>
        <label>Store Booked via 3rd Party Tool Variables - FIXME</label>
        <locationX>1172</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varMeetingSourceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assigned_to_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeetingSourceRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Assigned_to_User.Current_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhoID_is_what</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Used to store values of user who created event</description>
        <name>Store_Created_by_Variables</name>
        <label>Store Created by Variables</label>
        <locationX>1436</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varMeetingSourceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_by_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeetingSourceRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Created_by_User.Current_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhoID_is_what</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Used to get proper record</description>
        <name>Connected_to_lead_or_contact</name>
        <label>Connected to lead or contact</label>
        <locationX>3383</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Connected_to_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Edit</targetReference>
            </connector>
            <label>Connected to Lead</label>
        </rules>
        <rules>
            <name>Connected_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Edit</targetReference>
            </connector>
            <label>Connected to Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking for Meeting info</description>
        <name>Does_Contact_have_Meeting_Data</name>
        <label>Does Contact have Meeting Data?</label>
        <locationX>1502</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Contact_Rating_FIXME</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Rating</defaultConnectorLabel>
        <rules>
            <name>Contact_Missing_Meeting_Data_Lead_3_and_Lead_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Contact.Lead_3_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Contact.Lead_2_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update_All_Data_FIXME</targetReference>
            </connector>
            <label>Contact - Missing Meeting Data, Lead 3 and Lead 2</label>
        </rules>
        <rules>
            <name>Contact_Missing_Meeting_Data_and_Lead_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Contact.Lead_3_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Contact_Update_Meeting_and_Lead_3_FIXME</targetReference>
            </connector>
            <label>Contact - Missing Meeting Data and Lead 3</label>
        </rules>
        <rules>
            <name>Contact_Missing_Meeting_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Contact_Update_Meeting_Data_FIXME</targetReference>
            </connector>
            <label>Contact - Missing Meeting Data</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checking to see if Contact&apos;s Meeting data is there or not</description>
        <name>Does_Contact_have_Meeting_Info</name>
        <label>Does Contact have Meeting Info?</label>
        <locationX>3548</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Contact_has_Meeting_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact_Edit.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Is_Contact_s_Meeting_Data_same_Prior</targetReference>
            </connector>
            <label>Contact has Meeting Data</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking for Meeting info</description>
        <name>Does_Lead_have_Meeting_Data</name>
        <label>Does Lead have Meeting Data?</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Lead_Rating_FIXME</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Rating</defaultConnectorLabel>
        <rules>
            <name>Lead_Missing_Meeting_Data_Lead_3_and_Lead_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Lead.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Lead_3_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Lead_2_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Update_All_Data_FIXME</targetReference>
            </connector>
            <label>Lead - Missing Meeting Data, Lead 3 and Lead 2</label>
        </rules>
        <rules>
            <name>Lead_Missing_Meeting_Data_and_Lead_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Lead.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Lead_3_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Lead_Update_Meeting_and_Lead_3_FIXME</targetReference>
            </connector>
            <label>Lead - Missing Meeting Data and Lead 3</label>
        </rules>
        <rules>
            <name>Lead_Missing_Meeting_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Lead.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Lead_Update_Meeting_Data_FIXME</targetReference>
            </connector>
            <label>Lead - Missing Meeting Data</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checking to see if Lead&apos;s Meeting data is there or not</description>
        <name>Does_Lead_have_Meeting_Info</name>
        <label>Does Lead have Meeting Info?</label>
        <locationX>2756</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Lead_has_Meeting_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Lead_Edit.Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Is_Lead_s_Meeting_Data_same_Prior</targetReference>
            </connector>
            <label>Lead has Meeting Data</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checking to see if contact meeting date is same as the prior start date</description>
        <name>Is_Contact_s_Meeting_Data_same_Prior</name>
        <label>Is Contact&apos;s Meeting Data same Prior?</label>
        <locationX>3350</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Contact_Meeting_Date_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Contact_Edit.Meeting_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PriorStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Meeting_Date</targetReference>
            </connector>
            <label>Contact Meeting Date Update</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checking to see if lead meeting date is same as the prior start date</description>
        <name>Is_Lead_s_Meeting_Data_same_Prior</name>
        <label>Is Lead&apos;s Meeting Data same Prior?</label>
        <locationX>2558</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Lead_Meeting_Date_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Lead_Edit.Meeting_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PriorStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Meeting_Date</targetReference>
            </connector>
            <label>Lead Meeting Date Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking which path this should follow</description>
        <name>New_or_Edit</name>
        <label>New or Edit?</label>
        <locationX>2566</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Start_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>New_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_Booked_Meeting_FIXME</targetReference>
            </connector>
            <label>New Event</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checking to see if the Start Date has changed or not</description>
        <name>Start_Date_Changed</name>
        <label>Start Date Changed</label>
        <locationX>3828</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Yes_Start_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connected_to_lead_or_contact</targetReference>
            </connector>
            <label>Yes - Start Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checking to see who booked the meeting. You&apos;ll want to update this to include how meetings come into Salesforce. Are they coming from a 3rd party application connected with fields you&apos;d want to pull from to attribute to that solutions or other users. If you&apos;re not you can delete this decision and use the Default path.</description>
        <name>Who_Booked_Meeting_FIXME</name>
        <label>Who Booked Meeting - FIXME</label>
        <locationX>1304</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Created_by_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booked_via_3rd_Party_Tool_FIXME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIXME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_to_User</targetReference>
            </connector>
            <label>Booked via 3rd Party Tool - FIXME</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checking to see if we are updating a Lead or Contact</description>
        <name>WhoID_is_what</name>
        <label>WhoID is what?</label>
        <locationX>1304</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>WhoID_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>WhoID = Lead</label>
        </rules>
        <rules>
            <name>WhoID_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>WhoID = Contact</label>
        </rules>
    </decisions>
    <description
  >This template is designed to start you off when leveraging the People Meeting model with scaleMatters to automatically update a Lead or Contact to Lead 3 based on Event Name or check if an existing meeting date has changed to update the Lead or Contact.</description>
    <environments>Default</environments>
    <formulas>
        <description>Checking if record is new or not</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(
ISNEW(),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <description>Used to change start date/time to date only</description>
        <name>MeetingDateFormula</name>
        <dataType>Date</dataType>
        <expression>DateValue({!$Record.StartDateTime})</expression>
    </formulas>
    <formulas>
        <description>Used to get date value of prior start date</description>
        <name>PriorStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record__Prior.StartDateTime})</expression>
    </formulas>
    <interviewLabel
  >sM - Event - People Meeting - Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>sM - Event - People Meeting - Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Used to find the user who booked the meeting</description>
        <name>Get_Assigned_to_User</name>
        <label>Get Assigned to User</label>
        <locationX>1172</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Store_Booked_via_3rd_Party_Tool_Variables_FIXME</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get the Contact record</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1502</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_have_Meeting_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get contact data</description>
        <name>Get_Contact_Edit</name>
        <label>Get Contact Edit</label>
        <locationX>3548</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_have_Meeting_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to find the user who created the meeting</description>
        <name>Get_Created_by_User</name>
        <label>Get Created by User</label>
        <locationX>1436</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Created_by_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get the Lead record</description>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_have_Meeting_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get related record</description>
        <name>Get_Lead_Edit</name>
        <label>Get Lead Edit</label>
        <locationX>2756</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_have_Meeting_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Contact_Rating_FIXME</name>
        <label>Contact - Rating - FIXME</label>
        <locationX>1898</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Contact_Update_All_Data_FIXME</name>
        <label>Contact - Update All Data - FIXME</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_2_Bypass__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_2_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_3_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>MeetingDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Contact_Update_Meeting_and_Lead_3_FIXME</name>
        <label>Contact - Update Meeting and Lead 3 - FIXME</label>
        <locationX>1370</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_3_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>MeetingDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Contact_Update_Meeting_Data_FIXME</name>
        <label>Contact - Update Meeting Data - FIXME</label>
        <locationX>1634</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>MeetingDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Lead_Rating_FIXME</name>
        <label>Lead - Rating - FIXME</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Lead_Update_All_Data_FIXME</name>
        <label>Lead - Update All Data - FIXME</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_2_Bypass__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_2_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_3_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>MeetingDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Lead_Update_Meeting_and_Lead_3_FIXME</name>
        <label>Lead - Update Meeting and Lead 3 - FIXME</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_3_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>MeetingDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description
    >In this update you&apos;ll update to include meeting data. Depending on your organization you might have other fields you&apos;ll want to update to signify a meeting has been set. Example, would be updating Status.</description>
        <name>Lead_Update_Meeting_Data_FIXME</name>
        <label>Lead - Update Meeting Data - FIXME</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>MeetingDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Lead 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner_Role__c</field>
            <value>
                <elementReference
        >$Record.Owner:User.Current_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source_Role__c</field>
            <value>
                <elementReference>varMeetingSourceRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Source__c</field>
            <value>
                <elementReference>varMeetingSourceID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Used to update Contact&apos;s meeting date</description>
        <name>Update_Contact_Meeting_Date</name>
        <label>Update Contact Meeting Date</label>
        <locationX>3218</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Used to update Lead&apos;s meeting date</description>
        <name>Update_Lead_Meeting_Date</name>
        <label>Update Lead Meeting Date</label>
        <locationX>2426</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>2440</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Used to store value of user id</description>
        <name>varMeetingSourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Used to store value user&apos;s scaleMatters&apos; role</description>
        <name>varMeetingSourceRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
