force-app/main/default/flows/Task_to_sM_Record_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Updating relationship</description>
        <name>Relate_to_Open_scaleMatters_Record_What</name>
        <label>Relate to Open scaleMatters Record What</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.scaleMatters__scaleMatters_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Open_scaleMatters_Record_What.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Updating relationship</description>
        <name>Relate_to_Open_scaleMatters_Record_Who</name>
        <label>Relate to Open scaleMatters Record Who</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.scaleMatters__scaleMatters_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Open_scaleMatters_Record_Who.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Updating relationship</description>
        <name>Relate_to_Open_scaleMatters_Record_Who_What</name>
        <label>Relate to Open scaleMatters Record Who &amp; What</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.scaleMatters__scaleMatters_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Open_scaleMatters_Record_Who_What.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checking to see what this task was related to</description>
        <name>What_is_the_relationship</name>
        <label>What is the relationship?</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Who_What</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_scaleMatters_Record_Who_What</targetReference>
            </connector>
            <label>Who &amp; What</label>
        </rules>
        <rules>
            <name>Who_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_scaleMatters_Record_Who</targetReference>
            </connector>
            <label>Who Only</label>
        </rules>
        <rules>
            <name>What_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_scaleMatters_Record_What</targetReference>
            </connector>
            <label>What Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task to sM Record Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task to sM Record Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find matching scaleMatters record</description>
        <name>Find_Open_scaleMatters_Record_What</name>
        <label>Find Open scaleMatters Record What</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relate_to_Open_scaleMatters_Record_What</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funnel_Conversion_Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find matching scaleMatters record</description>
        <name>Find_Open_scaleMatters_Record_Who</name>
        <label>Find Open scaleMatters Record Who</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relate_to_Open_scaleMatters_Record_Who</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funnel_Conversion_Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find matching scaleMatters record</description>
        <name>Find_Open_scaleMatters_Record_Who_What</name>
        <label>Find Open scaleMatters Record Who &amp; What</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relate_to_Open_scaleMatters_Record_Who_What</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funnel_Conversion_Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_relationship</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
